<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.grybkov.pj</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8E0EEBD6-D9A3-4C78-AB4D-623FED25FFAD</key>
		<array/>
		<key>BE486813-1BCF-42FA-8149-1D21E12D3F61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B6D3AAC-85C3-49C5-8EA9-71AD7F1A5DC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>24C2FAE6-1209-4818-A232-9335DD73B2B0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in VSCode</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A6423B3-7DAC-4CA7-8801-500DA59F8EC4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E0EEBD6-D9A3-4C78-AB4D-623FED25FFAD</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open GitHub</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52D85C52-F24C-4EBA-8FF1-9819EB93F824</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC77954C-454C-445C-9213-F796827F1A9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Illia Grybkov</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pj</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./app.sh open-project --path "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B6D3AAC-85C3-49C5-8EA9-71AD7F1A5DC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./app.sh open-vscode --path "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24C2FAE6-1209-4818-A232-9335DD73B2B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./app.sh open-terminal --path "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A6423B3-7DAC-4CA7-8801-500DA59F8EC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./app.sh list --paths "$paths"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE486813-1BCF-42FA-8149-1D21E12D3F61</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./app.sh open-github --path "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E0EEBD6-D9A3-4C78-AB4D-623FED25FFAD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./app.sh open-finder --path "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52D85C52-F24C-4EBA-8FF1-9819EB93F824</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./app.sh record-selection --path "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC77954C-454C-445C-9213-F796827F1A9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A6423B3-7DAC-4CA7-8801-500DA59F8EC4</key>
		<dict>
			<key>note</key>
			<string>Open in Terminal</string>
			<key>xpos</key>
			<real>400.0</real>
			<key>ypos</key>
			<real>335.0</real>
		</dict>
		<key>0B6D3AAC-85C3-49C5-8EA9-71AD7F1A5DC5</key>
		<dict>
			<key>note</key>
			<string>Open Project in an editor</string>
			<key>xpos</key>
			<real>400.0</real>
			<key>ypos</key>
			<real>35.0</real>
		</dict>
		<key>24C2FAE6-1209-4818-A232-9335DD73B2B0</key>
		<dict>
			<key>note</key>
			<string>Open in VSCode</string>
			<key>xpos</key>
			<real>400.0</real>
			<key>ypos</key>
			<real>190.0</real>
		</dict>
		<key>52D85C52-F24C-4EBA-8FF1-9819EB93F824</key>
		<dict>
			<key>note</key>
			<string>Open in Finder</string>
			<key>xpos</key>
			<real>400.0</real>
			<key>ypos</key>
			<real>615.0</real>
		</dict>
		<key>8E0EEBD6-D9A3-4C78-AB4D-623FED25FFAD</key>
		<dict>
			<key>note</key>
			<string>Open in GitHub</string>
			<key>xpos</key>
			<real>400.0</real>
			<key>ypos</key>
			<real>475.0</real>
		</dict>
		<key>BE486813-1BCF-42FA-8149-1D21E12D3F61</key>
		<dict>
			<key>xpos</key>
			<real>85.0</real>
			<key>ypos</key>
			<real>335.0</real>
		</dict>
		<key>DC77954C-454C-445C-9213-F796827F1A9A</key>
		<dict>
			<key>xpos</key>
			<real>185.0</real>
			<key>ypos</key>
			<real>640.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pj</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Projects</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Project Root(s)</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>paths</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Default Editor</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEFAULT_EDITOR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>phpstorm,idea,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for PHP</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_PHP</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>idea,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for Java</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_JAVA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pycharm,idea,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for Python</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_PYTHON</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pycharm,idea,code</string>
				<key>placeholder</key>
				<string>Use Python editors</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for Jupyter notebooks</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_JUPYTER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>webstorm,phpstorm,idea,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for JavaScript</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_JAVASCRIPT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>goland,idea,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for Go</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_GO</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>rustrover,idea,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for Rust</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_RUST</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>webstorm,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for TypeScript</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_TYPESCRIPT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>rubymine,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for Ruby</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_RUBY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>clion,code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Editors for C/C++</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>EDITORS_CPP</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1.6</string>
	<key>webaddress</key>
	<string>https://github.com/igrybkov/alfred-pj</string>
</dict>
</plist>
